
/examples/*/bin
/examples/*/obj
/examples/*.suo
/examples/*/*.user
bin
obj
/src/*/NI.*.xml
/src/*/*.user
/src/*.suo
/src/packages
/src/NI.Tests/x64
/src/NI.Tests/x86
/src/NI.Data.SQLite/x64
/src/NI.Data.SQLite/x86
