
/examples/NI.Examples.Dalc/bin
/examples/NI.Examples.Dalc/obj
/examples/NI.Examples.Vfs/bin
/examples/NI.Examples.Vfs/obj
/examples/NI.Examples.Winter/bin
/examples/NI.Examples.Winter/obj
/examples/NI.Examples.suo
bin
obj
/src\NI.Common/NI.Common.xml
/src/NICNET.suo
/src\NI.Common/NI.Common.xml
/src\NI.Data.Dalc/NI.Data.Dalc.csproj.user
/src\NI.Data.Dalc/NI.Data.Dalc.xml
/src\NI.Common/NI.Common.xml
/src\NI.Data.Dalc/NI.Data.Dalc.csproj.user
/src\NI.Data.Dalc/NI.Data.Dalc.xml
