
/examples/NI.Examples.Dalc/bin
/examples/NI.Examples.Dalc/obj
/examples/NI.Examples.Vfs/bin
/examples/NI.Examples.Vfs/obj
/examples/NI.Examples.Winter/bin
/examples/NI.Examples.Winter/obj
/examples/NI.Examples.suo
bin
obj
/src\NI.Common/NI.Common.xml
/src/NICNET.suo
/src/NI.Common/NI.Common.xml
/src/NI.Data.Permissions/NI.Data.Permissions.xml
/src/NI.Data.RelationalExpressions/NI.Data.RelationalExpressions.xml
/src/NI.Data/NI.Data.xml
/src/NI.Tests/NI.Tests.csproj.user
/src/NI.Vfs/NI.Vfs.xml
/src/NI.Ioc/NI.Ioc.xml
/src/NI.Data/NI.Data.csproj.user
/src/NICNET.v11.suo
/src\NI.Expressions/*.user
/src\NI.Expressions/*.user
/src\NI.Expressions/NI.Expressions.csproj.user
/src\NI.Expressions/NI.Expressions.csproj.user
