<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <section name="components" type="NI.Winter.XmlComponentsConfig, NI.Winter"/>
  </configSections>

  <appSettings>
  </appSettings>

  <components>
    <component name="datetimenow" type="NI.Winter.StaticPropertyInvokingFactory,NI.Winter" singleton="false" lazy-init="true">
      <property name="TargetType">
        <type>System.DateTime,Mscorlib</type>
      </property>
      <property name="TargetProperty">
        <value>Now</value>
      </property>
    </component>

    <component name="datetimenow-3days" type="NI.Winter.MethodInvokingFactory,NI.Winter" singleton="false" lazy-init="true">
      <property name="TargetObject">
        <ref name="datetimenow"/>
      </property>
      <property name="TargetMethod">
        <value>AddDays</value>
      </property>
      <property name="TargetMethodArgTypes">
        <list>
          <entry>
            <type>System.Double,Mscorlib</type>
          </entry>
        </list>
      </property>
      <property name="TargetMethodArgs">
        <list>
          <entry>
            <value>-3</value>
          </entry>
        </list>
      </property>
    </component>
  </components>

</configuration>