<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <section name="components" type="NI.Winter.XmlComponentsConfig, NI.Winter"/>
  </configSections>

  <appSettings>
  </appSettings>

  <components>
    <component name="datetimenow" type="NI.Winter.StaticPropertyInvokingFactory,NI.Winter" singleton="false" lazy-init="true">
      <property name="TargetType">
        <type>System.DateTime,Mscorlib</type>
      </property>
      <property name="TargetProperty">
        <value>Now</value>
      </property>
    </component>

    <component name="datetimenow-3days" type="NI.Winter.MethodInvokingFactory,NI.Winter" singleton="false" lazy-init="true">
      <property name="TargetObject">
        <ref name="datetimenow"/>
      </property>
      <property name="TargetMethod">
        <value>AddDays</value>
      </property>
      <property name="TargetMethodArgTypes">
        <list>
          <entry>
            <type>System.Double,Mscorlib</type>
          </entry>
        </list>
      </property>
      <property name="TargetMethodArgs">
        <list>
          <entry>
            <value>-3</value>
          </entry>
        </list>
      </property>
    </component>

    <component name="appName" type="NI.Winter.ReplacingFactory,NI.Winter" singleton="true" lazy-init="true">
      <property name="TargetObject">
        <value>Winter Sample App</value>
      </property>
    </component>

    <component name="nonLazyNonSingletonTestComponent" type="NI.Examples.Winter.TestClass,NI.Examples.Winter" singleton="false">
      <constructor-arg index='0'>
        <value>-123</value>
      </constructor-arg>
      <constructor-arg index='1'>
        <value>456</value>
      </constructor-arg>
      <constructor-arg index='2'>
        <value>non_lazy</value>
      </constructor-arg>
      <property name="SomeListProperty">
        <list>
          <entry><value>first element</value></entry>
          <entry><value>second element</value></entry>
        </list>
      </property>
      <property name="SomeMapProperty">
        <map>
          <entry key="first">
            <value>hello</value>
          </entry>
          <entry key="second">
            <value>world</value>
          </entry>
        </map>
      </property>      
    </component>

    <!-- 'lazy' object instance -->
    <component name="lazyNonSingletonTestComponent" type="NI.Examples.Winter.TestClass,NI.Examples.Winter" lazy-init="true" singleton="false">
      <constructor-arg index='0'>
        <value>-123</value>
      </constructor-arg>
      <constructor-arg index='1'>
        <value>456</value>
      </constructor-arg>
      <constructor-arg index='2'>
        <value>lazy</value>
      </constructor-arg>
      <property name="SomeListProperty">
        <list>
          <entry>
            <value>foo</value>
          </entry>
          <entry>
            <value>bar</value>
          </entry>
        </list>
      </property>
    </component>    
  </components>

</configuration>