<?xml version="1.0"?>
<configuration>
    <system.web>
      <httpRuntime requestValidationMode="2.0" maxRequestLength="2097152"  executionTimeout="3600" />
			<pages>
				<controls>
					<add tagPrefix="Dalc" namespace="NI.Data.Web" assembly="NI.Data" />
				</controls>
			</pages>
    </system.web>
	<system.webServer>
		<security >
			<requestFiltering>
				<requestLimits maxAllowedContentLength="2147483648" /> <!--2gb-->
			</requestFiltering>
		</security>
	</system.webServer>
</configuration>
